* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
img.logo{
    max-width: 130px;
}

@font-face {
    font-family: 'bakbak_oneregular';
    src: url('./font/bakbakone-regular-webfont.woff2') format('woff2'),
         url('./font/bakbakone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./font/Inter-Regular.woff2') format('woff2'),
        url('./font/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.centered {
    /* margin-left:40%;
    margin-right:40%; */
    margin-top: 3vw;
    margin-bottom: 3vw;

    

}
.bigtxt{
    text-align:center;
    font-size:4vw;
    color: #FF1C90;
    font-family:"bakbak_oneregular",BlinkMacSystemFont,'Segoe UI',sans-serif;
    font-weight: bold;
    font-style: normal;
}

.medtxt{
    text-align:center;
    font-size: 1.5vw;
    background: linear-gradient(150deg, rgba(255,28,144,1) 28%, rgba(243,0,248,1) 50%, rgba(70,226,248,1) 74%);   
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
    font-family:"Inter",BlinkMacSystemFont,'Segoe UI',sans-serif;
    font-weight: normal;
    font-style: normal;
}



button{
    font-family: 'Inter';
    margin:0 auto;
    display:block;
    width: 7vw;
    height: 50px;
    margin-bottom: 4vw;
    background-color:#ffffff;
    color:rgb(255, 72, 102);
    border: solid;
    border-radius: 5vw;
    border-color: rgb(255, 72, 102);
    cursor: pointer;
    transition: all 0.8s ease 0s;
}

button:hover{
    background-color: rgb(255, 72, 102);
    color: white;
}

.thanks{
    font-family: "Inter";
    color:black;
    font-size: 1vw;
    text-align: center;
    margin-top:2vw;
    margin-bottom:2vw;
}
.centered{
    margin-top: 10vw;
    margin-bottom: 18vw;
}